In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

# Ignore warnings for cleaner output
import warnings
warnings.filterwarnings("ignore")

Data cleaning

In [101]:
dataF = pd.read_csv('/content/drive/MyDrive/labels_brset.csv', sep = ',')
dataF.head()

,image_id,patient_id,camera,patient_age,comorbidities,diabetes_time_y,insuline,patient_sex,exam_eye,diabetes,...,amd,vascular_occlusion,hypertensive_retinopathy,drusens,hemorrhage,retinal_detachment,myopic_fundus,increased_cup_disc,other,quality
0,img00001,1,Canon CR,48.0,diabetes1,12,yes,1,1,yes,...,0,0,0,0,0,0,0,1,0,Adequate
1,img00002,1,Canon CR,48.0,diabetes1,12,yes,1,2,yes,...,0,0,0,0,0,0,0,1,0,Adequate
2,img00003,2,Canon CR,18.0,diabetes1,7,yes,2,1,yes,...,0,0,0,0,0,0,0,0,0,Adequate
3,img00004,2,Canon CR,18.0,diabetes1,7,yes,2,2,yes,...,0,0,0,0,0,0,0,0,0,Adequate
4,img00005,3,Canon CR,22.0,diabetes1,11,yes,1,1,yes,...,0,0,0,0,0,0,0,0,0,Adequate

In [102]:
print(dataF.columns)

Index(['image_id', 'patient_id', 'camera', 'patient_age', 'comorbidities',
       'diabetes_time_y', 'insuline', 'patient_sex', 'exam_eye', 'diabetes',
       'nationality', 'optic_disc', 'vessels', 'macula', 'DR_SDRG', 'DR_ICDR',
       'focus', 'Illuminaton', 'image_field', 'artifacts',
       'diabetic_retinopathy', 'macular_edema', 'scar', 'nevus', 'amd',
       'vascular_occlusion', 'hypertensive_retinopathy', 'drusens',
       'hemorrhage', 'retinal_detachment', 'myopic_fundus',
       'increased_cup_disc', 'other', 'quality'],
      dtype='object')

In [103]:
dataF.describe()

,patient_id,patient_age,patient_sex,exam_eye,vessels,macula,DR_SDRG,DR_ICDR,focus,Illuminaton,...,nevus,amd,vascular_occlusion,hypertensive_retinopathy,drusens,hemorrhage,retinal_detachment,myopic_fundus,increased_cup_disc,other
count,16266.000000,10820.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,...,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000,16266.000000
mean,4275.474302,57.655453,1.617976,1.498647,1.049613,1.287532,0.180930,0.176933,1.033137,1.005164,...,0.007992,0.018382,0.006209,0.017460,0.174167,0.005840,0.000430,0.016599,0.197037,0.050412
std,2463.584452,18.261783,0.485897,0.500014,0.217150,0.452626,0.747103,0.722515,0.179684,0.071678,...,0.089043,0.134332,0.078556,0.130981,0.379265,0.076201,0.020741,0.127767,0.397773,0.218800
min,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2158.250000,47.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4270.000000,61.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6420.750000,71.000000,2.000000,2.000000,1.000000,2.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8524.000000,97.000000,2.000000,2.000000,2.000000,2.000000,4.000000,4.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [104]:
dataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16266 entries, 0 to 16265
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   image_id                  16266 non-null  object
 1   patient_id                16266 non-null  int64
 2   camera                    16266 non-null  object
 3   patient_age               10820 non-null  float64
 4   comorbidities             8029 non-null   object
 5   diabetes_time_y           1910 non-null   object
 6   insuline                  1714 non-null   object
 7   patient_sex               16266 non-null  int64
 8   exam_eye                  16266 non-null  int64
 9   diabetes                  16266 non-null  object
 10  nationality               16266 non-null  object
 11  optic_disc                16266 non-null  object
 12  vessels                   16266 non-null  int64
 13  macula                    16266 non-null  int64
 14  DR_SDRG                   16266 non-null  int64
 15  DR_ICDR                   16266 non-null  int64
 16  focus                     16266 non-null  int64
 17  Illuminaton               16266 non-null  int64
 18  image_field               16266 non-null  int64
 19  artifacts                 16266 non-null  int64
 20  diabetic_retinopathy      16266 non-null  int64
 21  macular_edema             16266 non-null  int64
 22  scar                      16266 non-null  int64
 23  nevus                     16266 non-null  int64
 24  amd                       16266 non-null  int64
 25  vascular_occlusion        16266 non-null  int64
 26  hypertensive_retinopathy  16266 non-null  int64
 27  drusens                   16266 non-null  int64
 28  hemorrhage                16266 non-null  int64
 29  retinal_detachment        16266 non-null  int64
 30  myopic_fundus             16266 non-null  int64
 31  increased_cup_disc        16266 non-null  int64
 32  other                     16266 non-null  int64
 33  quality                   16266 non-null  object
dtypes: float64(1), int64(24), object(9)
memory usage: 4.2+ MB

In [105]:
dataF = dataF.drop(columns=['image_id', 'patient_id', 'camera', 'nationality', 'focus', 'Illuminaton', 'image_field', 'artifacts', 'quality', 'other'])
dataF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16266 entries, 0 to 16265
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   patient_age               10820 non-null  float64
 1   comorbidities             8029 non-null   object
 2   diabetes_time_y           1910 non-null   object
 3   insuline                  1714 non-null   object
 4   patient_sex               16266 non-null  int64
 5   exam_eye                  16266 non-null  int64
 6   diabetes                  16266 non-null  object
 7   optic_disc                16266 non-null  object
 8   vessels                   16266 non-null  int64
 9   macula                    16266 non-null  int64
 10  DR_SDRG                   16266 non-null  int64
 11  DR_ICDR                   16266 non-null  int64
 12  diabetic_retinopathy      16266 non-null  int64
 13  macular_edema             16266 non-null  int64
 14  scar                      16266 non-null  int64
 15  nevus                     16266 non-null  int64
 16  amd                       16266 non-null  int64
 17  vascular_occlusion        16266 non-null  int64
 18  hypertensive_retinopathy  16266 non-null  int64
 19  drusens                   16266 non-null  int64
 20  hemorrhage                16266 non-null  int64
 21  retinal_detachment        16266 non-null  int64
 22  myopic_fundus             16266 non-null  int64
 23  increased_cup_disc        16266 non-null  int64
dtypes: float64(1), int64(18), object(5)
memory usage: 3.0+ MB

the age : can filled by the mean for each gender

In [106]:
dataF['patient_age'] = dataF.groupby('patient_sex')['patient_age'].transform(lambda x: x.fillna(x.mean()))
dataF['patient_age'].describe()

count    16266.000000
mean        57.622969
std         14.914914
min          5.000000
25%         55.000000
50%         58.684427
75%         66.000000
max         97.000000
Name: patient_age, dtype: float64

extract all data from the field comorbidities

In [107]:
print(dataF['comorbidities'])

0        diabetes1
1        diabetes1
2        diabetes1
3        diabetes1
4        diabetes1
           ...
16261    diabetes1
16262    diabetes1
16263    diabetes1
16264    diabetes1
16265    diabetes1
Name: comorbidities, Length: 16266, dtype: object

In [108]:
comorbidities_split = dataF['comorbidities'].str.split(', ', expand=True)
comorbidities_split.tail()

               0     1     2     3     4
16261  diabetes1  None  None  None  None
16262  diabetes1  None  None  None  None
16263  diabetes1  None  None  None  None
16264  diabetes1  None  None  None  None
16265  diabetes1  None  None  None  None

replace and fill the missing value for the column diabetes_time_y

In [109]:
print(dataF['diabetes_time_y'].unique())

['12' '7' '11' '1' '20' '5' '9' '2' '3' '14' '4' '15' '23' '13' '10' '8'
 nan '16' '17' '6' '25' '18' '19' '22' '0,5' '37' '26' '40' '30' '0,20'
 '10,00' '38' '0,2' '21' '24' '35' '27' '32' '29' '45' '28' '43' '1,5'
 '50' '0,1' '49' '41' '0,3' '34' '60' '1O' '0,8' '51' 'Não' '39' '31']

In [110]:
dataF['diabetes_time_y'] = dataF['diabetes_time_y'].replace('Não', np.nan)
dataF['diabetes_time_y']

0         12
1         12
2          7
3          7
4         11
        ...
16261     14
16262      4
16263      4
16264    NaN
16265    NaN
Name: diabetes_time_y, Length: 16266, dtype: object

In [111]:
print(dataF['diabetes_time_y'].unique())

['12' '7' '11' '1' '20' '5' '9' '2' '3' '14' '4' '15' '23' '13' '10' '8'
 nan '16' '17' '6' '25' '18' '19' '22' '0,5' '37' '26' '40' '30' '0,20'
 '10,00' '38' '0,2' '21' '24' '35' '27' '32' '29' '45' '28' '43' '1,5'
 '50' '0,1' '49' '41' '0,3' '34' '60' '1O' '0,8' '51' '39' '31']

In [112]:
print(dataF['diabetes_time_y'].apply(type).value_counts())

diabetes_time_y
<class 'float'>    14357
<class 'str'>       1909
Name: count, dtype: int64

In [113]:
dataF['diabetes_time_y'].describe()

count     1909
unique      54
top         10
freq       252
Name: diabetes_time_y, dtype: object

In [114]:
dataF['patient_age'].describe()

count    16266.000000
mean        57.622969
std         14.914914
min          5.000000
25%         55.000000
50%         58.684427
75%         66.000000
max         97.000000
Name: patient_age, dtype: float64

In [116]:
dataF['diabetes_time_y'] = pd.to_numeric(dataF['diabetes_time_y'], errors='coerce')

# Filter out rows where diabetes_time_y is NaN
valid_rows = dataF[dataF['diabetes_time_y'].notna()]
# check for invalid rows where diabetes_time_y > patient_age
invalid_rows = valid_rows[valid_rows['diabetes_time_y'] > valid_rows['patient_age']]
print(invalid_rows[['diabetes_time_y', 'patient_age']])

     diabetes_time_y  patient_age
34              23.0         22.0
35              23.0         22.0
218             23.0         22.0
219             23.0         22.0